.bookmark {
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    width: 311px;
    height: 1352px;
    padding: 20px;
    margin-top: 50px;
    position: sticky;
    top: 0;
}

.blogs-title {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    font-size: medium;
    font-weight: 700;
    margin-top: 20px;
}