.header{
    display: flex;
    align-items: center;
    width: 1200px;
    margin: auto;

}

.header img{
   width: 4%;
   height: 5%;
   margin-left: 209px;
}

.header h2{
    margin-left: 10px;

}

.header a{
    text-decoration: none;
    font-weight: 800;
    color: black;
    margin-left: 50px;
}

.header-anchor{
    margin-left: 470px;
}
.header a:hover{
    color: blue;
}