.header{
    display: flex;
    align-items: center;

}

.header img{
   width: 4%;
   height: 5%;
   margin-left: 300px;
}

.header h2{
    margin-left: 30px;

}

.header a{
    text-decoration: none;
    font-weight: 800;
    color: black;
    margin-left: 50px;
}

.header-anchor{
    margin-left: 550px;
}
.header a:hover{
    color: blue;
}