.post {
    width: 845px;
    /* height: 821px; */
    /* border: 1px solid #95A0A7;
    border-radius: 10px; */
    margin-top: 50px;
    margin-left: 40px;

}


.blog-cover {
    width: 100%;
    border-radius: 10px;

}
.author {
    display: flex;
}

.author-image {
    width: 7%;
}

.read-time {
    margin-left: 630px;
}

.btn-mark{
    background: none;
    border: none;
    color: blueviolet;
    font-size: medium;
    text-decoration: underline;
 
}